#controls-container {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 0 1rem 0 1rem;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }

  & > span {
    display: flex;
    align-items: center;
    height: 5rem;
    border: 1px dotted black;
    padding: 2rem;
    font-size: $font-size-sm;
    text-align: center;
  }
}

#visualize-toggle-btn {
  height: 4rem;
  width: 18rem;
  color: whitesmoke;

  &.start {
    background-color: $color-green;
  }

  &.cancel {
    background-color: $color-red;
  }
}

#clear-walls-btn, #clear-weighted-tiles-btn {
  height: 4rem;
  width: 12rem;
  color: whitesmoke;
  background-color: $color-dark-grey;
}

#grid-type-toggle-btn {
  height: 4rem;
  width: 20rem;
  color: whitesmoke;
  background-color: $color-light-blue;
}
