.tile {
  &--start {
    background-color: green;
  }

  &--goal {
    background-color: orangered;
  }

  &--unvisited {
    border: 1px solid lightslategray;
  }

  &--wall {
    background-color: navy;
    animation-name: wallTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  }

  &--visited {
    background-color: yellowgreen;
    border: 1px solid whitesmoke;
    animation-name: visitedTileAnimation;
    animation-duration: .5s;
    animation-timing-function: ease-out;
  }

  &--path {
    background-color: cyan;
    animation-name: pathTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  }
}

@keyframes wallTileAnimation {
  0% { transform: scale(0); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes visitedTileAnimation {
  0% { transform: scale(0); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes pathTileAnimation {
  0% { transform: scale(0); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
