$hexagon-tile-width: 50px;
$hexagon-inner-scale: 0.95;

@function calcHexTrianglesHeight($hex-width) {
  @return $hex-width / 1.73 / 2;
}

#hexagon-grid {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.active {
    display: block;
  }
}

.hexagon-tile {
  &--start {
    fill: #1c53eb;
  }

  &--goal {
    fill: orangered;
  }

  &--unvisited {
    fill: transparent;
    stroke: lightslategray;
    stroke-width: 1px;
  }

  &--wall {
    fill: #333333;
    stroke: lightgrey;
    stroke-width: 1px;
    animation-name: wallTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  }

  &--weighted {
    animation-name: weightedTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
    pointer-events: none;
    background-image: url("/assets/icon-tree.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--visited {
    fill: #36ebd9;
    stroke: whitesmoke;
    stroke-width: 1px;
    animation-name: visitedTileAnimation;
    animation-duration: .5s;
    animation-timing-function: ease-out;
  }

  &--path {
    fill: #f2d830;
    stroke: whitesmoke;
    stroke-width: 1px;
    animation-name: pathTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  }
}
