#square-grid {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.active {
    display: block;
  }
}

.square-tile {
  &--start {
    background-color: #1c53eb;
  }

  &--goal {
    background-color: orangered;
  }

  &--unvisited {
    border: 1px solid lightslategray;
  }

  &--wall {
    background-color: #333333;
    border: 1px solid lightgrey;
    animation-name: wallTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  }

  &--weighted {
    animation-name: weightedTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
    background-image: url("C:/Users/TooL7/Documents/tool7/projects/pathfinding_visualizer/dist/assets/icon-tree.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--visited {
    background-color: #36ebd9;
    border: 1px solid whitesmoke;
    animation-name: visitedTileAnimation;
    animation-duration: .5s;
    animation-timing-function: ease-out;
  }

  &--path {
    background-color: #f2d830;
    border: 1px solid whitesmoke;
    animation-name: pathTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  }
}
