$color-black: #333333;
$color-light-grey: #aaaaaa;
$color-dark-grey: #777777;
$color-green: #12a336;
$color-red: #de2612;
$color-light-blue: #11a7d1;

$font-size-default: 1.8rem;
$font-size-xs: 1.2rem;
$font-size-sm: 1.5rem;
$font-size-md: 2.2rem;
$font-size-lg: 3.5rem;
