@import "utils/mixins";
@import "utils/variables";

@import "base/base";
@import "base/typography";

@import "layout/navbar";
@import "layout/footer";

@import "components/square-grid";
@import "components/hexagon-grid";

#app-container {
  height: 100vh;
}

#square-grid-container, #hexagon-grid-container {
  display: none;

  &.visible {
    display: block;
  }
}

#hexagon-grid-container {
  height: 100%;
}

#visualize-toggle-btn {
  height: 4rem;
  width: 12rem;
  color: whitesmoke;

  &.start {
    background-color: green;
  }

  &.cancel {
    background-color: orangered;
  }
}

#clear-walls-btn {
  height: 4rem;
  width: 12rem;
  color: whitesmoke;
  background-color: lightseagreen;
}

#grid-type-toggle-btn {
  height: 4rem;
  width: 16rem;
  color: whitesmoke;
  background-color: grey;
}
