.pathfinding-module {
  &__title {
    margin-bottom: 3rem;
  }
}

.tile {
  &--unvisited {
    border: 1px solid lightslategray;
  }

  &--wall {
    background-color: navy;
    animation-name: wallTileAnimation;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  }
}

@keyframes wallTileAnimation {
  0% { transform: scale(0); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
